@{
    ViewData["Title"] = "Question "+ Model.score.questionNumber;
    string[] answers =  Model.currentQuestion.getAnswers();
}

<div class="text-center">
    @Model.currentQuestion.question.difficulty Question
    <h1 class="display-4">Question @Model.score.questionNumber</h1>
    @Model.currentQuestion.getDecodedQuestion()
    <div class="answer-container">
        @using (Html.BeginForm("AnswerQuestion", "Quiz", FormMethod.Post, new { @class = "answer-container" }))
        {
            @model Attempt
            @answers[0] @Html.RadioButtonFor(m => m.currentQuestion.theirAnswer, answers[0], new { @class = "answer-button" })
            @answers[1] @Html.RadioButtonFor(m => m.currentQuestion.theirAnswer, answers[1], new { @class = "answer-button" })
            @answers[2] @Html.RadioButtonFor(m => m.currentQuestion.theirAnswer, answers[2], new { @class = "answer-button" })
            @answers[3] @Html.RadioButtonFor(m => m.currentQuestion.theirAnswer, answers[3], new { @class = "answer-button" })
            @Html.HiddenFor(m => m.currentQuestion.question.correct_answer, Model.currentQuestion.question.correct_answer)
            @Html.HiddenFor(m => m.currentQuestion.question.difficulty, Model.currentQuestion.question.difficulty)
            @Html.HiddenFor(m => m.score.questionNumber, Model.score.questionNumber)
            @Html.HiddenFor(m => m.score.score,Model.score.score)
            <button type="submit">Submit Answer</button>
        }
    </div>
    Score: @Model.score.score
</div>
